.page-outer{
    width: 100%;
    background-color: gray;
    display: flex;
}

.filters{
    width: 20%;
    height: 80vh;
}

.filter-type,.filter-price,.filter-discount{
    height: 33%;
    width: 100%;
    text-align: left;
    padding-left: 15%;
    padding-top: 5%;
}

.filter-type-options{
    display: flex;
    width: 70%;
    height: 5%;
    margin-top: 4%;
    color: yellow;
    text-align: left;
}

.content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-single{
    margin-top: 5%;
    margin-bottom: 2%;
}