.contact-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75); 
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 44444;
}

.contact-modal{
    height: 50vh;
    width: 25vw;
    background-color: black;
    padding-top: 1%;
    animation: slide-down 300ms ease-out forwards;
    border-radius: 50px;
    padding-top: 3%;
    padding-left: 5%;
    box-shadow: 4px 4px 8px 4px #505050;
}

.contact-modal h1{
  margin-top: 25%;
  color: white;
}

.contact-modal a{
  outline: none;
  text-decoration: none;
}

.contact-modal h3{
  color: yellow;
  margin-top: 3%;
  font-style: italic;
}

.contact-close{
  color: yellow;
  text-align: right;
  padding-right: 10%;
  font-size: 1.5rem;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }